.content {
  
  
  display: grid;
  
  grid-template-areas: "a b" "f g" "j k" "m n";
  
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.content img {
  
  width: 100%;
    margin-top: 10px;
   
}

@media (max-width: 768px) {
  .content {
    display: block;
    
} 
}