
  .mainImgWrapper {
    display: grid;
    width: 100%;
    grid-template-areas: "i i i i i" "k l j n o";
    grid-template-rows: 100px 50px;
    grid-template-columns: 3fr 3fr 40px 30px 2fr;;
   
  }
  .mainImgtext1 {
    grid-area: i;
    background-color: white;
    text-align: center;
    font-family: 'Aldhabi', Times, serif; 
  font-size: 250%;  
  margin-top: -30px;
  }
  .socialNetworksWrapper {
    grid-area: j;
    background-color: white;
  }
  .mainImgtext {
    grid-area: l;
    background-color: white;
    color: gray;
    
    text-align: center;
    
  }
  .drawerToggleButton {
    grid-area: n;
    margin-top: 12px;
    align-self: center;
  }

  @media (min-width: 769px) {
    .drawerToggleButton {
      display: none;
    }
  }