.content {
  margin-top: 3000px;
  margin: 0 auto;
  display: grid;
  /* width: 700px; */
  grid-template-areas: "a b d" "f g i" "j k l" "m n p";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.tile1 {
  grid-area: a;
 
}
