
  .mainImgWrapper {
    display: grid;
    width: 100%;
    grid-template-areas: "i i i i i" "k l j n o";
    grid-template-rows: 100px 50px;
    grid-template-columns: 4fr 4fr 1fr 1fr 2fr;;
   
  }
  .mainImgtext1 {
    grid-area: i;
    background-color: white;
    text-align: center;
    font-family: 'Aldhabi', Times, serif; 
  font-size: 250%;  
  margin-top: -30px;
  }
  .socialNetworksWrapper {
    grid-area: j;
    background-color: white;
  }
  .mainImgtext {
    grid-area: l;
    background-color: white;
    color: gray;
    
    text-align: center;
    
  }