.app-wraper {
    margin: 0 auto;
    display: grid;
    width: 700px;
    grid-template-areas: "h s" "m m" "n c";
    grid-template-rows: 60px 100px 1fr;
    grid-template-columns: 1fr 10fr;
}
.app-social-networks {
    grid-area: s;
    background-color: white;
}
.app-wrapper-main-img {
    grid-area: m;
    background-color: white;
    
}

.app-wraper-header {
    grid-area: h;
    background-color: white;
}
.app-wraper-navbar {
    grid-area: n;
    background-color: white;
    padding: 20px;
    }

/* .app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}
.app-wrapper-friends {
    grid-area: f;
    background-color: burlywood;

} */

/*.app-wrapper-friends {
    grid-area: n;
    background-color: #64edd2;

}*/

/*
.app-wrapper-navbar {
    grid-area: n;
    background-color: #ed8f64;

}*/